<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing HyperLocal Nexa forms">

	<test name="Testing LQS Live Website">
		<classes>
			<class name="com.test.NexaLQS.Testing_NEXA_LQS_Performance"></class>
					
		</classes>
		
	</test>
</suite>